name: Tests

on: [ push ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      working-directory: ${{github.workspace}}/tests
      run: ./run_tests.sh adm

  docker-setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: sudo modprobe wireguard
    - name: Run docker test
      working-directory: ${{github.workspace}}/tests
      run: ./docker.sh
